- load staticfiles

!!!5
html(lang="no")
head
	meta(charset='utf-8')
	title Grandkvartalet - kommer snart!
	meta(name='description', content='Coming soon, understconstruction page')
	meta(name='keywords', content='coming, soon, underconstruction, skords')
	meta(name='author', content='Skords Graphics')
	meta(name='viewport', content='initial-scale=1.0')
	link(rel='stylesheet', type='text/css', href="{% static 'css/style.css' %}")
	link(rel='stylesheet', type='text/css', href="{% static 'css/ie8.css' %}")
	link(href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic|Open+Sans:400italic,700italic,400,600,700', rel='stylesheet', type='text/css')
	script(src="{% static 'js/jquery-latest.min.js' %}")
	script(src="{% static 'js/unslider.js' %}")
	script
		$(function() {
			$('.banner').unslider();
		});
	script(src="{% static 'js/jquery.countdown.js' %}")
	script(src="{% static 'js/script.js' %}")
body
	.slider
		.banner
			ul
				li
					img(src="{% static 'images/slider/2.jpg' %}", alt='1')
				li
					img(src="{% static 'images/slider/1.jpg' %}", alt='2')
				li
					img(src="{% static 'images/slider/3.jpg' %}", alt='3')
				li
					img(src="{% static 'images/slider/4.jpg' %}", alt='4')

	.container
		.timer
			#countdown
				
	.build.buildRight
	.build.buildLeft
	.clearfix
	.content1
		.container
			.line.lineR
			.line.lineL
			h2 Under konstruksjon
			h3 Ønsker du nyhetsbrev med den nyeste informasjonen? Meld deg på.
			.clearfix
			form(method='POST', action="{% url 'comingsoon' %}")
				- csrf_token
				if subscribed
					- var placeholder = sub_email + " har abbonert"
				else
					- var placeholder = "din@epost.no"
				input(placeholder="{{ placeholder }}", autocomplete='on', name='email')
				br
				button.subscribe ABONNER
	.content2
		.social
			a(href='#')
				.fb
		.social
			a(href='#')
				.gp
		.social
			a(href='#')
				.twi
		.social
			a(href='#')
				.rss
		.social
			a(href='#')
				.in
	.contFoot
		.pattern
		.container
			.tweetcont
				.content
					.bar
						.aboutIcon
						h3 Nyhetsbrev
						br
					br
					br
					span
						| Vi ønsker å holde deg oppdatert på det nyeste som skjer med Grandkvartalet.
						| Hjelp oss å utvikle Larvik!
			.aboutcont
				.content
					.bar
						.aboutIcon
						h3 Om oss
						br
					br
					br
					span
						| Snart lanseres en splitter ny nettside for grandkvartalet.
						| Grandkvartalet vil gjøre vandringen mellom Torget og indre havn til en opplevelse.
	.clearfix
	.footer
		| Copyrights 2014 
		a(href='#') Grandkvartalet
		| . All rights reserved.
