- load static
!!! 5
html(lang='en')
head
	meta(charset='utf-8')
	title Grandkvartalet
	meta(name='description', content='Grandkvartalet.no - larviks nye perle')
	meta(name='keywords', content='grandkvartalet larvik byutvikling')
	meta(name='author', content='msroed.net')
	meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
	// Favicon

	link(rel='shortcut icon', href='favicon.ico', type='image/x-icon')
	link(rel='icon', href='favicon.ico', type='image/x-icon')
	// Google Fonts

	link(href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700', rel='stylesheet', type='text/css')
	// Bootstrap 3.1.1

	link(href="{% static 'css/bootstrap.min.css' %}", rel='stylesheet', media='screen')
	// Icon Fonts

	link(href="{% static 'css/font-awesome.min.css' %}", rel='stylesheet', media='screen')
	link(href="{% static 'css/icon-moon.css' %}", rel='stylesheet', media='screen')
	// Animations

	link(href="{% static 'css/animate.css' %}", rel='stylesheet', media='screen')
	// Theme Styles

	link(href="{% static 'css/theme-styles.css' %}", rel='stylesheet', media='screen')
	// Color Schemes

	link(href="{% static 'css/colors/color-575f94.css' %}", rel='stylesheet', media='screen')
	// Modernizr

	script(src="{% static 'js/libs/modernizr.custom.js' %}")
	// Adding Media Queries and Canvas Support for IE8

	//if lt IE 9
		script(src='js/plugins/respond.min.js')
		script(src='js/plugins/excanvas.js')
// Body
body.space-top
	#preloader
		#spinner

	header.stiky-header
		.container.group
			a.logo(href='#')
				h2(style='margin: 0 0 0 0; padding: 0 0 0 0') Grandkvartalet
			a.logo-mobile(href='index.html')
				p Grandkvartalet
			a.navi-toggle.group
				span.dot
				span.line
				span.dot
				span.line
				span.dot
				span.line
				span.dot
				span.line
			nav.main-navi
				ul
					li.active
						a.scroll-up.set-slider-img(href='#', data-img="0") Hjem
					li
						a(href="{% static 'pdf/brosjyre.pdf' %}", target='_blank') Om Prosjektet
					li
						a.scroll(href='#arkitekten') Artikekten har ordet
					- comment
					li
						a.scroll(href='#gallery') Galleri
					- endcomment
					li
						a.scroll(href='#faq') Fakta
					li
						a.scroll(href='#contacts') Kontakt oss
	// Hero Unit with Slider
	section.hero
		.container
			// Hero Slider
			.row
				.hero-slider
					.slide.first-slide
						.col-lg-4.col-md-4.col-sm-4.animated.fadeInRight
							h2.text-light.text-left(style="padding: 0 0 0 0; margin: 0 0 0 0") Grandkvartalet
							p Passasjen gjennom kvartalet vil binde sentrum sammen med indre havn. Den kan bli Larviks «La Rambla». Det blir den naturlige ferdselsåra mellom bykjernen og fjorden. Kombinasjonen av spennende møteplasser og pulserende byrom med flere nye funksjoner vil fylle folks behov for positive opplevelser.
						.col-lg-8.col-md-8.col-sm-8.animated
							img.img-rounded.img-center(src="{% static 'img/hero-slider/trapp.jpg' %}")

					.slide
						.col-lg-4.col-md-4.col-sm-4.animated.fadeInUp
							h2.text-light.text-left Prinsegata
							p Vitalisere Larviks gamle hovedgate. Spennende arkitektur som deler opp byggene langs Prinsegata skal skape interessante fasader og gateløp. Detaljhandelsbutikker på gateplan og inn mot torgplassen i hjertet av Grandkvartalet vil skape puls og nytt liv.
						.col-lg-8.col-md-8.col-sm-8.animated.fadeInRight
							img.img-rounded.img-center(src="{% static 'img/hero-slider/prinsegata.jpg' %}")
					.slide
						.col-lg-4.col-md-4.col-sm-4.animated.fadeInUp
							h2.text-light.text-left Karlsrogata
							p Grandkvartalet åpnes i fortsettelsen av Karlsrogata for å tilpasse seg eksiterende byvev og gatenett. Det vil skape en naturlig ferdselsåre og nye siktlinjer inn mot Grandplassen og videre ned mot havnen. Dette vil styrke lesbarheten i sentrum og invitere publikum inn i kvartalet og videre ned til indre havn.
						.col-lg-8.col-md-8.col-sm-8.animated.fadeInRight
							img.img-rounded.img-center(src="{% static 'img/hero-slider/karlsro.jpg' %}")
					.slide
						.col-lg-4.col-md-4.col-sm-4.animated.fadeInUp
							h2.text-light.text-left Grandplassen
							p Plassen blir en åpen og levende møteplass midt i kavartalet med bypuls. Hyggelige kafeer, spennende butikker og funksjonell arkitektur som gir rom for utfoldelse av folk i alle aldre. Kortreist mat, kombinert med spennende smaker fra hele verden i en publikumsvennlig mathall.
						.col-lg-8.col-md-8.col-sm-8.animated.fadeInRight
							img.img-rounded.img-center(src="{% static 'img/hero-slider/grandplassen.jpg' %}")
					.slide
						.col-lg-4.col-md-4.col-sm-4.animated.fadeInUp
							h2.text-light.text-left Hjertet i sentrum
							p Grandkvartalet vil styrke sentrum med to moderne kontorbygg, mange nye butikkarealer og 150 nye boliger. Sammen med utvidelse av hotellet vil det gi et marked for servering og detaljhandel på gateplan. Grandkvartalet åpnes opp og skaper en ny ferdselsåre gjennom byen. Her vil butikkene ligge på gateplan med publikumsrettede fasader som skaper god stemning i nye byrom.
						.col-lg-8.col-md-8.col-sm-8.animated.fadeInRight
							img.img-rounded.img-center(src="{% static 'img/hero-slider/hjertet.jpg' %}")
			//Close Hero Slider
	// Close Hero
	// Features
	section#mainimages.page-block
		.container
			.row.features
				.col-lg-2.col-md-2.col-sm-2.col-lg-offset-1.col-md-offset-1.col-sm-offset-1
					.feature-img
						a.set-slider-img(data-img="0")
							img.img-rounded.img-center(src="{% static 'img/features/trapp.jpg' %}", , alt='La rambla')
					h3 Grandplassen
					a.set-slider-img(data-img="0", style='cursor: pointer;') Les mer
				.col-lg-2.col-md-2.col-sm-2
					.feature-img
						a.set-slider-img(data-img="1")
							img.img-rounded.img-center(src="{% static 'img/features/prinsegata.jpg' %}", , alt='Prinsegata')
					h3 Prinsegata
					a.set-slider-img(data-img="1", style='cursor: pointer;') Les mer
				.col-lg-2.col-md-2.col-sm-2
					.feature-img
						a.set-slider-img(data-img="2")
							img.img-rounded.img-center(src="{% static 'img/features/karlsro.jpg' %}", , alt='Karlsrogata')
					h3 Karlsrogata
					a.set-slider-img(data-img="2", style='cursor: pointer;') Les mer
				.col-lg-2.col-md-2.col-sm-2
					.feature-img
						a.set-slider-img(data-img="3")
							img.img-rounded.img-center(src="{% static 'img/features/grandplassen.jpg' %}", , alt='Grandplassen')
					h3 Grandplassen
					a.set-slider-img(data-img="3", style='cursor: pointer;') Les mer
				.col-lg-2.col-md-2.col-sm-2
					.feature-img
						a.set-slider-img(data-img="4")
							img.img-rounded.img-center(src="{% static 'img/features/hjertet.jpg' %}", , alt='Hjertet')
					h3 Hjertet
					a.set-slider-img(data-img="4", style='cursor: pointer;') Les mer

	section#arkitekten.page-block
		.container
			.row.page-header
				h2 Arkitekten har ordet (sammendrag)
				span
					| Les hele 
					a(href="{% static 'pdf/arkitekten.pdf' %}", target='_blank') HER!
			.row
				.col-lg-4.col-md-4.text-center
					img.img-rounded.img-center(src='http://gfx.nrk.no/GPpngdC-jM5kKuYdiye5SghdL_0xVqumuNQcXhX1ujUQ.jpg')
					span.text-muted Alv Skogstad Aamo, Arkitekt Mnal Partner, Dark Arkitekter AS.
				.col-lg-4.col-md-4
					p Vi mener at prosjektet bør vurderes opp mot overordnede mål for utvikling av Larvik. Bidrar prosjektet til en ønsket byutvikling? Er det med på å realisere Larviks framtid som en attraktiv og levende by? Er prosjektet et bidrag til å styrke videre utvikling av indre havn og realisering av fjordbyvisjonen?
				.col-lg-4.col-md-4
					p DARK har laget et bygrep som et godt svar på de utfordringene Larvik sliter med. Det vil skape byliv, vekst og kommunikasjon til fjorden. Det er et første trinnet på veien til å realisere fjordbyvisjonen. Vi håper disse aspektene vil inngå i en grundig helhetsvurdering og en god byutviklingsdiskusjon for å finne de beste løsningene. Vi tror forslaget er godt dokumentert og har kvaliteter som kan bidra til at vi får en fruktbar og interessant hørings- og medvirkningsprosess framover.
	// Gallery
	- comment
	section#omprosjektet.page-block
		.container
			.row.page-header
				h2 Om prosjektet
			.row
				.col-lg-6.col-md-6.col-sm-6
					img.img-rounded(src="{% static 'img/hjertet.jpg' %}")
				.col-lg-6.col-md-6.col-sm-6
					.row
						.well
							h2 Ny puls til byen
							p 
								| Grandkvartalet ligger i Larviks kjerne og blir brikken som får bypuslespillet til å gå opp. Passasjen gjennom kvartalet vil binde sentrum sammen med indre havn. Den kan bli Larviks “La Rambla”. Det blir den naturlige ferdselsåra mellom bykjernen og fjorden. Kombinasjonen av spennende møteplasser og pulserende byrom med flere nye funksjoner vil fylle folks behov for positive opplevelser og attraktivitet.
						.well
							h2 Ny passasje til fjorden
							p 
								| Grandkvartalet vil åpne opp og skape en ny ferdselsåre gjennom byen. Her vil butikkene ligge på gateplan med publikumsrettede fasader som skaper god stemning i nye byrom. Traséen vil også binde byen sammen på en tydeligere måte som gjør det lettere å ferdes mellom by- kjernen og indre havn.
	- endcomment
	- comment

	section#gallery.page-block
		.container
			.row.page-header
				h2 Galleri
				span Trykk på bildet for å se mer informasjon
			.row
				ul.gallery
					li
						a(href='#', data-largesrc="{% static 'img/gallery/fisk.jpg' %}", data-title='Mathall og Delikatesse', data-description='Det gis rom for en publikumsvennlig mathall med kafeer og tilhørende delikatessebutikker.')
							img(src="{% static 'img/gallery/fisk_th.jpg' %}", alt='mathall')
							span.img-caption Mathall & Glede
					li
						a(href='#', data-largesrc="{% static 'img/gallery/kontor.jpg' %}", data-title='Moderne kontorlokaler', data-description='Prosjektet vil inneholde effektive og moderne kontrolokaler. Dette kan bringe mange nye abeidsplasser til sentrum som styrker det lokale markedet for detaljhandel og servicetjenester.')
							img(src="{% static 'img/gallery/kontor_th.jpg' %}", alt='Kontor')
							span.img-caption Moderne kontorlokaler
					li
						a(href='#', data-largesrc="{% static 'img/gallery/shopping.jpg' %}", data-title='Nye butikker', data-description='Det blir plass til mange nye butikker på gateplan med detaljhandel. Både Rombergata, langs hele Prinsegata og inn mot den store torgplassen midt i Grandkvartalet.')
							img(src="{% static 'img/gallery/shopping_th.jpg' %}", alt='Shopping')
							span.img-caption Nye butikker
					li
						a(href='#', data-largesrc="{% static 'img/gallery/oversikt.jpg' %}", data-title='Byutvikling', data-description='Dark Arkitekter AS har bred erfaring med byutviklingsprosjekter, og har forsøkt å ta utgangspunkt i Larviks utfordringer som en by med med stagnasjon og forfall.')
							img(src="{% static 'img/gallery/oversikt_th.jpg' %}", alt='Oversikt')
							span.img-caption Byutvikling

	// FAQ
	- endcomment
	section#faq.page-block.faq
		.container
			.row
				.col-lg-3.col-md-4.col-sm-4
					h2.text-center Fakta
					img.img-center(src="{% static 'img/faq-icon.png' %}", alt='FAQ')
				.col-lg-8.col-md-8.col-sm-8
					table.table(style='width: 100%')
						tr
							th Info
							th Utnyttelse
							th TU
						tr
							td Kvartalets maksimale tomtutnyttelse
							td 40,500m&sup2
							td 350%
						tr
							td Denne reguleringsplanen
							td 27800m&sup2
							td 240%
						tr
							td Næring
							td(colspan="2") 12300m&sup2
						tr
							td Boliger
							td(colspan="2") 15500m&sup2
						tr
							td
								strong SUM
							td(colspan="2") 
								strong 27800&sup2
						tr
							td Parkering
							td(colspan="2") 10000m&sup2

						tr
							td Prinsegata
							td(colspan="2") 4 etasjer
						tr
							td Storgata
							td(colspan="2") 5 etasjer (som dagens hotell)
						tr
							td Tårnhus inne i kvartalet
							td(colspan="2") Inntil 8 etasjer
					p.text-muted All bebyggelse trappet ift terreng

	// Contacts
	section#contacts.page-block.contacts
		.container
			.row.page-header
				h2 Kontakt oss
			.row
				.col-lg-4.col-md-4
					.row
						.col-lg-8.col-md-8
							h3 Addresse
						.col-lg-4.col-md-4
							img.img-center(src="{% static 'img/contacts/map.png' %}", alt='Adress')
					.row
						.col-lg-12
							p Nansetgata 30, Boks 86, 3251 Larvik
					.row
						.col-lg-12.col-md-12
							h3 Følg oss på facebook!

					.row
						.col-lg-12.text-left
							.social-networks
								a.icon-facebook.tooltipped(href='http://facebook.com/grandkvartalet', target='_blank', title='Facebook')
				.col-lg-3.col-md-4.col-lg-offset-1
					.row
						.col-lg-8.col-md-8
							h3 Kontakter
						.col-lg-4.col-md-4
							img.img-center(src="{% static 'img/contacts/phone.png' %}", alt='Contacts')
					.row
						.col-lg-12
							p
								| Finn Erik Røed
								br
								a(href='mailto:fer@skc.no') fer@skc.no
								br
								| +47 91 30 51 61
								br
								br
								| Jan Hansen
								br
								a(href='mailto:jan@inter-eiendom.no') jan@inter-eiendom.no
								br
								| +47 90 53 00 75
				.col-lg-3.col-md-4.col-lg-offset-1
					.row
						.col-lg-8.col-md-8
							h3 Kontakt oss
						.col-lg-4.col-md-
							img.img-center(src="{% static 'img/contacts/plan.png' %}", alt='Adress')
					.row
						.col-lg-12
							form.feedback-form(role='form', action="{% url 'landing' %}", method='POST')
								- csrf_token
								.form-group
									label.sr-only(for='name1') Navn
									input#name1.form-control(type='text', name='name', placeholder='Name', required='required')
								.form-group
									label.sr-only(for='email1') Epost
									input#email1.form-control(type='email', name='email', placeholder='Email', required='required')
								.form-group
									label.sr-only(for='message') Melding
									textarea#message.form-control(name='message', rows='5', placeholder='Message', required='required')
								button.btn.btn-primary(type='submit') Send
	// Footer
	footer.footer
		.container
			- comment
			.row
				.col-lg-12
					h2.text-center.text-light Meld deg opp til vårt nyhetsbrev
					p.text-light.text-center
						| Få nyheter, oppdateringer og informasjon om prosjektet på epost!
			.row
				form#mc-embedded-subscribe-form.subscribe-form.validate(action="{% url 'contact' %}", method='post')
					.form-group.col-lg-7.col-md-8.col-sm-8.col-lg-offset-1
						label.sr-only(for='mce-EMAIL') Email address
						input#mce-EMAIL.form-control(type='email', name='EMAIL', placeholder='Skriv inn din epost', required='required')
					.form-group.col-lg-3.col-md-4.col-sm-4
						input#mc-embedded-subscribe.btn.btn-primary.btn-block(type='submit', value='Meld meg på', name='subscribe')
			- endcomment
			.row
				.col-lg-12
					p.copyright
						| © 2014 Grandkvartalet. All Rights Reserved.
	// Scroll To Top Button
	#scroll-top.scroll-up
		i.icon-arrow-up
	// Javascript (jQuery) Libraries and Plugins
	script(src="{% static 'js/libs/jquery-1.10.2.min.js' %}")
	script(src="{% static 'js/libs/jquery.easing.1.3.js' %}")
	script(src="{% static 'js/plugins/bootstrap.min.js' %}")
	script(src="{% static 'js/plugins/jquery.touchSwipe.min.js' %}")
	script(src="{% static 'js/plugins/jquery.placeholder.js' %}")
	script(src="{% static 'js/plugins/icheck.min.js' %}")
	script(src="{% static 'js/plugins/jquery.validate.min.js' %}")
	script(src="{% static 'js/plugins/gallery.js' %}")
	script(src="{% static 'js/plugins/jquery.fitvids.js' %}")
	script(src="{% static 'js/plugins/jquery.bxslider.min.js' %}")
	script(src="{% static 'js/plugins/chart.js' %}")
	script(src="{% static 'js/plugins/waypoints.min.js' %}")
	script(src="{% static 'js/plugins/smoothscroll.js' %}")
	script(src="{% static 'js/landing2.js' %}")
